.pdfPreview * {
  font-family: 'Papyrus' !important;
}

.pdfPreview strong {
  font-size: 0.8rem;
  background-color: var(--mantine-color-dark-4);
  border-radius: 4px;
  text-align: center;
  padding: 2px;
  width: 100%;
  display: inline-block;
  color: white;
}
