.previewSection {
  border: 1px solid rgba(134, 142, 150, 0.2);
  padding: 16px;
  border-radius: 8px;
  overflow-y: auto;
  flex: 1;
  max-width: 36vw; /* For some reason carousel expands with multiple files, this keeps it ~1/3 of the screen no matter what */
}
.previewPlaceholder {
  text-align: center;
  padding: 32px 0;
}

.fadedSection {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.fadedSection:hover {
  opacity: 1;
}
